/* elements */
header {
  width: 100%;
  height: 150px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  position: fixed;
  overflow: hidden;
  top: 0;

}

body {
  background-color: black;
  color: white;
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

footer {
  text-align: center;
  margin-top: 90rem;
  font-weight: bold;
}

hr{
  margin-top: 20px;
  margin-bottom: 20px;
}

/* id's */
#header-img {
  height: 90%;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  /* background-color: blue; */
}

#nav-bar {
  /* margin-top: 4rem; */
  padding-top: 3.5rem;
  margin-left: 34rem;
  /* background-color: green; */
}

#nav-bar a {
  font-weight: bolder;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 1rem;
}

#nav-bar a:hover {
  background-color: white;
  color: black;
  border-radius: 5rem;
  /* font-size: 2rem; */
}

#video{
margin: auto;
display: block;
margin-top: 3rem;
margin-bottom: 3rem;
}

#form{
  width: 100%;
  height: 250px;
  text-align: center;
  padding-top: 5rem;
}

#form h1{
  font-size: 3rem;
}

#email{
  width: 50%;
  height: 2rem;
  font-size: 1.5rem;
  border-radius: 5rem;
  padding-left: 1rem;
margin-bottom: 3rem;
}

#submit{
  width: 20%;
  height: 2rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1rem;
margin-bottom: 3rem;
}




/* classes */
.search {
  height: 25%;
  width: 12%;
  border-radius: 5rem;
  margin: auto;
  padding-left: 1rem;
  margin-bottom: 3.8rem;
  /* background-color: blue; */
}

.content-div{
  width: 100%;
  height: 500px;
  /* background-color: green; */
  margin-top: 20px;
}

.content-div img{
  width: 100%;
  height: 100%;
}

.top{
  margin-top: 160px;
}

.container{
  display: flex;
  flex-direction: row;

}

.container img{
    margin: auto;
  width: 15%;
  height: 15%;
  padding: 2rem;
}

.container img:hover{
  background-color: white;
  border-radius: 5rem;
}

/* media */

@media (max-width:1920px) {

header{
  /* background-color: white; */
}

#nav-bar{
  margin-left: 33rem;
}

.search{
  margin-left: 15rem;
}

}

@media (max-width:1705px) {

header{
  /* background-color: white; */
}

#nav-bar{
  margin-left: 25rem;
}

.search{
  margin-left: 15rem;
}

}

@media (max-width:1559px) {

header{
  /* background-color: white; */
}

#nav-bar{
  margin-left: 20rem;
}

.search{
  margin-left: 15rem;
}

}

@media (max-width:1455px) {

header{
  /* background-color: white; */
}

#nav-bar{
  margin-left: 16rem;
}

.search{
  margin-left: 15rem;
}

}

@media (max-width:1399px) {

header{
  /* background-color: white; */
}

#nav-bar{
  margin-left: 16rem;
}

.search{
  margin-left: 10rem;
}

}

@media (max-width:1307px) {

header{
  /* background-color: white; */
}

#nav-bar{
  margin-left: 16rem;
}

.search{
  margin-left: 5rem;
}

}

@media (max-width:1215px) {

header{
  /* background-color: white; */
}

#nav-bar{
  margin-left: 16rem;
}

.search{
  display: none;
}

}

@media (max-width:970px) {

header{
  /* background-color: white; */
}

#nav-bar{
  margin-left: 8rem;
}

.search{
  display: none;
}

}

@media (max-width:850px) {

header{
  /* background-color: white; */
}

#nav-bar{
  margin-left: 2rem;
}

.search{
  display: none;
}

}

@media (max-width:625px) {

header{
  /* background-color: white; */
  flex-direction: column;
}

#header-img{
  width:10%;
  align-self: center;
}

#nav-bar{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#banner{
  width: 100%;
  height: 40%;
}

#video{
  width:50%;
  height: 40%;
}

.search{
  display: none;
}

footer{
  margin-top: 38rem;
}

}
